.note-content p{
    margin: 20px 0px 20px 0px!important;
}

.note-content blockquote {
    background: rgba(173, 216, 230, 0.3)!important;
    margin: 5px 0px!important;
    font-size: 16px!important;
    font-weight: light!important;

}

.note-content img {
    max-width:80%!important;
    max-height: 300px!important;
    margin: 1rem auto!important;
    display:block!important;
}

.note-content .hero_image {
    width: 100%!important;
    margin: 1rem 0;
    max-width: 100%!important;
    max-height: 100%!important;
}

.note-content pre {
    margin: 1rem 0!important;
}

.SharingTable {

}

.SharingTableHeaderRow {
    text-align: left;
}

.SharingTable .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.SharingTable .tags span {
    background-color: rgba(30, 135, 240, 0.4);
    font-size: smaller;
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;


}